.clientCard{
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    padding: 0px;
    
}
.clientCard img{
    width: 100%;
    height: 100%;
}
.cardContent{
    position: absolute;
    top: 10%;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    transform: translateX(-1000px);
    transition: all 0.3s ease-in;
}
.cardLayer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.clientCard:hover .cardContent{
    transform: translateX(0PX);
}
.clientCard:hover .cardLayer{
    opacity: 1;
}