.servicesDetails{
    transition: all 0.2s;
}
.servicesDetails:hover{
 box-shadow: 0 0 11px rgba(33,33,33,.5); ;
}
.bannerImg{
    min-height: 23rem;
}
@media (max-width:600px) {
    .bannerImg{
        min-height: 14rem;
    }
}